@import "../../styles/variables";

.graph-controller {
  &.selected {
    stroke-width: 1px;
    stroke: $main-highlight-color;
  }

  .controller-outline-rect {
    fill: none;
    stroke: $main-highlight-color;
    stroke-width: 1px;
  }

  .controller-line {
    stroke: $main-highlight-color;
    stroke-width: 1px;
  }

  .controller-circle {
    fill: white;
    stroke: $main-highlight-color;
    stroke-width: 1px;
    cursor: move;
  }

  .rotate-controller {
    stroke: none;
    width: 18px;
    height: 18px;
    fill: $opacity;
    cursor: pointer;
  }

  .size-controller {
    stroke: $main-highlight-color;
    stroke-width: 1;
    width: 8px;
    height: 8px;
    fill: white;

    &.top-left,
    &.bottom-right {
      cursor: nwse-resize;
    }

    &.top-right,
    &.bottom-left {
      cursor: nesw-resize;
    }

    &.top,
    &.bottom {
      cursor: ns-resize;
    }

    &.left,
    &.right {
      cursor: ew-resize;
    }
  }
}
